---
- name: Create defined group
  register: keycloak_group_result
  ansible.builtin.group:
    name: "{{ keycloak_group }}"
    system: true
    state: present
  tags:
    - keycloak

- name: Create defined user
  register: keycloak_user_result
  ansible.builtin.user:
    name: "{{ keycloak_user }}"
    group: "{{ keycloak_group }}"
    password: "!"
    shell: "{{ keycloak_shell }}"
    create_home: false
    system: true
    state: present
  tags:
    - keycloak

- name: Create required directories
  loop: "{{ keycloak_default_folders + keycloak_extra_folders }}"
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ keycloak_user }}"
    group: "{{ keycloak_group }}"
    mode: u=rwx,g=rx,o=rx
    state: directory
  tags:
    - keycloak

- name: Create themes directory
  ansible.builtin.file:
    path: "{{ keycloak_themes_path }}"
    recurse: true
    owner: "{{ keycloak_user }}"
    group: "{{ keycloak_group }}"
    mode: u=rwX,g=rX,o=rX
    state: directory
  tags:
    - keycloak

- name: Theme from url
  notify:
    - Restart keycloak
  loop: "{{ keycloak_default_themes + keycloak_extra_themes }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.url | default(false) and item.state | default("present") == "present"
  ansible.builtin.unarchive:
    src: "{{ item.url }}"
    dest: "{{ item.path | default(keycloak_themes_path) }}/{{ item.name }}"
    remote_src: true
    owner: "{{ keycloak_user }}"
    group: "{{ keycloak_group }}"
    mode: o=rwx,g=rx,o=rx
  tags:
    - keycloak

- name: Delete defined themes
  notify:
    - Restart keycloak
  loop: "{{ keycloak_default_themes + keycloak_extra_themes }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.state | default("present") == "absent"
  ansible.builtin.file:
    path: "{{ item.path | default(keycloak_themes_path) }}/{{ item.name }}"
    state: absent
  tags:
    - keycloak

- name: Create extensions directory
  ansible.builtin.file:
    path: "{{ keycloak_extensions_path }}"
    owner: "{{ keycloak_user }}"
    group: "{{ keycloak_group }}"
    mode: u=rwx,g=rx,o=rx
    state: directory
  tags:
    - keycloak

- name: Extension from url
  notify:
    - Restart keycloak
  loop: "{{ keycloak_default_extensions + keycloak_extra_extensions }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.url | default(false) and item.state | default("present") == "present"
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ item.path | default(keycloak_extensions_path) }}/{{ item.name }}.jar"
    checksum: "{{ item.checksum | default(omit) }}"
    owner: "{{ keycloak_user }}"
    group: "{{ keycloak_group }}"
    mode: o=rwx,g=rx,o=rx
  tags:
    - keycloak

- name: Delete defined extensions
  notify:
    - Restart keycloak
  loop: "{{ keycloak_default_extensions + keycloak_extra_extensions }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.state | default("present") == "absent"
  ansible.builtin.file:
    path: "{{ item.path | default(keycloak_extensions_path) }}/{{ item.name }}.jar"
    state: absent
  tags:
    - keycloak

- name: Create startups directory
  ansible.builtin.file:
    path: "{{ keycloak_startups_path }}"
    owner: "{{ keycloak_user }}"
    group: "{{ keycloak_group }}"
    mode: u=rwX,g=rX,o=rX
    recurse: "{{ true if keycloak_version is version('20.0.0', '<') else false }}"
    state: "{{ 'directory' if keycloak_version is version('20.0.0', '<') else 'absent' }}"
  tags:
    - keycloak

- name: Startup from url
  notify:
    - Restart keycloak
  loop: "{{ keycloak_default_startups + keycloak_extra_startups }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - keycloak_version is version('20.0.0', '<')
    - item.url | default(false)
    - item.state | default("present") == "present"
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ item.path | default(keycloak_startups_path) }}/{{ item.name }}.cli"
    checksum: "{{ item.checksum | default(omit) }}"
    owner: "{{ keycloak_user }}"
    group: "{{ keycloak_group }}"
    mode: o=rwx,g=rx,o=rx
  tags:
    - keycloak

- name: Startup from content
  notify:
    - Restart keycloak
  loop: "{{ keycloak_default_startups + keycloak_extra_startups }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - keycloak_version is version('20.0.0', '<')
    - item.content | default(false)
    - item.state | default("present") == "present"
  ansible.builtin.copy:
    content: "{{ item.content }}"
    dest: "{{ item.path | default(keycloak_startups_path) }}/{{ item.name }}.cli"
    owner: "{{ keycloak_user }}"
    group: "{{ keycloak_group }}"
    mode: o=rwx,g=rx,o=rx
  tags:
    - keycloak

- name: Startup from file
  notify:
    - Restart keycloak
  loop: "{{ keycloak_default_startups + keycloak_extra_startups }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - keycloak_version is version('20.0.0', '<')
    - item.src | default(false)
    - item.state | default("present") == "present"
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.path | default(keycloak_startups_path) }}/{{ item.name }}.cli"
    owner: "{{ keycloak_user }}"
    group: "{{ keycloak_group }}"
    mode: o=rwx,g=rx,o=rx
  tags:
    - keycloak

- name: Startup from template
  notify:
    - Restart keycloak
  loop: "{{ keycloak_default_startups + keycloak_extra_startups }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - keycloak_version is version('20.0.0', '<')
    - item.template | default(false)
    - item.state | default("present") == "present"
  ansible.builtin.template:
    src: "{{ item.template }}"
    dest: "{{ item.path | default(keycloak_startups_path) }}/{{ item.name }}.cli"
    owner: "{{ keycloak_user }}"
    group: "{{ keycloak_group }}"
    mode: o=rwx,g=rx,o=rx
  tags:
    - keycloak

- name: Delete defined startups
  notify:
    - Restart keycloak
  loop: "{{ keycloak_default_startups + keycloak_extra_startups }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - keycloak_version is version('20.0.0', '<')
    - item.state | default("present") == "absent"
  ansible.builtin.file:
    path: "{{ item.path | default(keycloak_startups_path) }}/{{ item.name }}.cli"
    state: absent
  tags:
    - keycloak

- name: Write default config
  notify:
    - Restart keycloak
  ansible.builtin.template:
    src: default.j2
    dest: /etc/default/keycloak
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - keycloak

- name: Write service file
  notify:
    - Restart keycloak
  ansible.builtin.template:
    src: service.j2
    dest: /etc/systemd/system/keycloak.service
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - keycloak

- name: Pull docker image
  when: keycloak_pull_image
  community.docker.docker_image:
    name: "{{ keycloak_image }}"
    source: pull
  tags:
    - keycloak

- name: Start keycloak service
  ansible.builtin.systemd:
    name: keycloak
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - keycloak

...
